.outer {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
textarea.my-textarea {
    width: 500px;
    height: 200px;
    resize: vertical;
}
.instructions {
    text-align: left;
}